<a href="https://colab.research.google.com/github/kiran-m-kannur/Salary-prediction/blob/main/Salary_Prediciton_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix

In [ ]:
#defining data frame and column names since column names are absent in the raw data
data = pd.read_csv("/content/adult.data.csv", header=None, sep=',\s', na_values=["?"])
data.columns = ['Age','Work Class', 'Final Weight', 'Education', 'Experience','Marital Status', 'Occupation',"Relationship", 'Race','Gender','Capital Gain','Capital Loss','Work hours/Week','Country of Origin','Income']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [ ]:
data.head()

   Age        Work Class  ...  Country of Origin Income
0   39         State-gov  ...      United-States  <=50K
1   50  Self-emp-not-inc  ...      United-States  <=50K
2   38           Private  ...      United-States  <=50K
3   53           Private  ...      United-States  <=50K
4   28           Private  ...               Cuba  <=50K

[5 rows x 15 columns]

In [ ]:
#converting dummy values from categorical data
workclass_dummy = pd.get_dummies(data[["Work Class"]],drop_first = True)
data = pd.concat([data,workclass_dummy],axis=1)

education_dummy = pd.get_dummies(data[["Education"]],drop_first = True)
data = pd.concat([data,education_dummy],axis=1)

maritalstatus_dummy = pd.get_dummies(data[["Marital Status"]],drop_first = True)
data = pd.concat([data,maritalstatus_dummy],axis=1)

occupation_dummy =pd.get_dummies(data[["Occupation"]],drop_first = True)
data = pd.concat([data,occupation_dummy],axis=1) 

relationship_dummy =pd.get_dummies(data[["Relationship"]],drop_first = True)
data = pd.concat([data,relationship_dummy],axis=1)

race_dummy = pd.get_dummies(data[["Race"]],drop_first = True)
data = pd.concat([data,race_dummy],axis=1) 

country_of_origin_dummy = pd.get_dummies(data[["Country of Origin"]],drop_first = True) 
data = pd.concat([data,country_of_origin_dummy],axis=1)

In [ ]:
data.head()

   Age  ... Country of Origin_Yugoslavia
0   39  ...                            0
1   50  ...                            0
2   38  ...                            0
3   53  ...                            0
4   28  ...                            0

[5 rows x 105 columns]

In [ ]:
# Converting Male and female to 1 and 0
def binary(x):
  if x == "Male":
    return 1
  else:
    return(0)

In [ ]:
data["Gender"]= data["Gender"].apply(binary)

In [ ]:
data.head()

   Age  ... Country of Origin_Yugoslavia
0   39  ...                            0
1   50  ...                            0
2   38  ...                            0
3   53  ...                            0
4   28  ...                            0

[5 rows x 105 columns]

In [ ]:
#dropping all categorical values
data.drop(['Work Class','Education','Marital Status','Occupation','Relationship','Race','Country of Origin'],axis=1,inplace=True)

In [ ]:
data.head()

   Age  Final Weight  ...  Country of Origin_Vietnam  Country of Origin_Yugoslavia
0   39         77516  ...                          0                             0
1   50         83311  ...                          0                             0
2   38        215646  ...                          0                             0
3   53        234721  ...                          0                             0
4   28        338409  ...                          0                             0

[5 rows x 98 columns]

In [ ]:
#moving income column to the last column
income = data.pop("Income")

In [ ]:
data.insert(97,"Income",income)

In [ ]:
data.head()

   Age  Final Weight  ...  Country of Origin_Yugoslavia  Income
0   39         77516  ...                             0   <=50K
1   50         83311  ...                             0   <=50K
2   38        215646  ...                             0   <=50K
3   53        234721  ...                             0   <=50K
4   28        338409  ...                             0   <=50K

[5 rows x 98 columns]

In [ ]:
#droping all the NaN values which were converted from '?'
data=data. dropna()

In [ ]:
data = data.fillna(lambda x: x.median())

In [ ]:
#Defining x and y values for KNN 
x = data.iloc[:,:-1].values
y = data.iloc[:,7].values

In [ ]:
data.head

<bound method NDFrame.head of        Age  Final Weight  ...  Country of Origin_Yugoslavia  Income
0       39         77516  ...                             0   <=50K
1       50         83311  ...                             0   <=50K
2       38        215646  ...                             0   <=50K
3       53        234721  ...                             0   <=50K
4       28        338409  ...                             0   <=50K
...    ...           ...  ...                           ...     ...
17183   51        156003  ...                             0   <=50K
17184   23        529223  ...                             0   <=50K
17185   22        202871  ...                             0   <=50K
17186   37         58337  ...                             0    >50K
17187   58        298643  ...                             0   <=50K

[17188 rows x 98 columns]>

In [ ]:
#importing models, defining test,train dataset
X_test,X_train,y_test,y_train = train_test_split(x,y,test_size=0.20)

In [ ]:
#Normalization
scaler = StandardScaler ()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
# Setting KNN with our dataset and set K =15
classifier = KNeighborsClassifier(n_neighbors=15)
classifier.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=15, p=2,
                     weights='uniform')

In [ ]:
#predictions
y_pred = classifier.predict(X_test)

In [ ]:
#print f1 score and confusion matrx to determine accuracy
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99     12915
           1       0.99      0.66      0.79       835

    accuracy                           0.98     13750
   macro avg       0.98      0.83      0.89     13750
weighted avg       0.98      0.98      0.98     13750

[[12910     5]
 [  282   553]]